dobutsu_shogui/replays/*
dobutsu_shogui/logs/*.log
dobutsu_shogui/longo-prazo/*
.metadata/**
.metadata/
.metadata/.*
.metadata/.plugins/*
.metadata/.mylyn/*
.recommenders/*


dobutsu_shogui/longo-prazo/1507255268977.txt
